h4 {
    font-weight: bold;
}

.pressImage {
    justify-content: center;
    align-items: center;
    align-self: center;
    alignment: center;
    max-width: 720px;
}

@media only screen and (max-width: 1024px) {
    #trialButton {
        opacity: 0;
    }

    h4 .Button {
        font-size: 1.2rem;
    }

    .PressImage {
        justify-content: center;
        align-items: center;
        align-self: center;
        alignment: center;
        width: 500px;
    }
}
