i {
    opacity: 1;
    font-weight: bold;
    color: black;
}

p {
    text-align: center;
    font-weight: normal;
}

.segue {
    top: 40px;
    left: 35%;
    position: absolute;
    height: 150px;
    width: 450px;
    background-color: #555;
    opacity: 0.5;
    border-radius: 30%;
}



